/* Common */

html, body, a, span, textarea, input, button {
    font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(231, 231, 231);
}

textarea, select, input, button {
    outline: none; /*chrome*/
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    background-color: rgb(58, 58, 58);
}

a {
    color: rgb(223, 246, 255);
}

button {
    color: black;
    background-color: rgb(202, 171, 69);
    border: none;
    font-size: 1rem;
}
button:hover {
    filter: brightness(.9);
}
button:active {
    filter: brightness(.8);
}

textarea, input {
    border: none;
    background-color: rgba(255, 255, 255, 0.205);
    font-size: 1rem;
}

/* End Common */

/* MainLayout.razor */

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* End MainLayout.razor */

/* Index.razor */

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    min-width: 50vw;
    background-color: rgb(63, 63, 63);
}

.login input {
    height: 1.5rem;
    width: 20rem;
    padding: .2rem;
    margin: 1rem;
}

.login button {
    height: 2rem;
    width: 10rem;
}

/* End Index.razor */

/* User.razor */

.chatarea {
    width: 80vw;
}

.chatarea .message-list-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.chatarea .message-list {
    margin: 1rem .5rem;
    padding: 0 .5rem;
    height: 95%;
    width: 90%;
    list-style-type: none;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: rgb(136, 136, 136) rgb(58, 58, 58);
}

.chatarea .message-list::-webkit-scrollbar {
    width: 5px;
}
.chatarea .message-list::-webkit-scrollbar-track {
    background-color: rgb(58, 58, 58);
}
.chatarea .message-list::-webkit-scrollbar-thumb {
    background-color: rgb(136, 136, 136);
}

.chatarea .message {
    padding: .2rem .3rem;
}
.chatarea .message:hover {
    background-color: rgb(65, 65, 65);
}

.chatarea .message-user {
    font-size: .9rem;
    cursor: default;
}

.chatarea .message-time {
    font-size: .7rem;
    color: rgb(151, 151, 151);
}

.chatarea .message-content {
    display: inline-block;
    margin: .3rem .1rem;
    white-space: pre-line;
}

.chatarea .send-message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

.chatarea .send-message textarea {
    resize: none;
    height: 3rem;
    width: 80%;
    margin: 0 .5rem;
    padding: .5rem;
}

.chatarea .send-message button {
    height: calc(3rem + 2*.5rem);
    width: 10%;
    margin: 0 .5rem;
}

.userlist-box {
    width: 15vw;
    height: 100vh;
}

.userlist-box .user-list {
    padding: .5rem .5rem 1.5rem .5rem;
    list-style-type: none;
    background-color: rgb(49, 49, 49);
    height: 90%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: rgb(75, 75, 75) rgb(49, 49, 49);
}

.userlist-box .user-list::-webkit-scrollbar {
    width: 5px;
}
.userlist-box .user-list::-webkit-scrollbar-track {
    background-color: rgb(49, 49, 49);
}
.userlist-box .user-list::-webkit-scrollbar-thumb {
    background-color: rgb(75, 75, 75);
}

.userlist-box .user-list-item {
    margin: .4rem .4rem;
    font-size: 1rem;
    cursor: default;
}

.user-list .userlist-title {
    margin: .4rem .3rem;
    font-size: .8rem;
    color: rgb(151, 151, 151);
}

/* end User.razor */
